---
import Sidebar from 'virtual:components/Sidebar'
import Head from 'virtual:components/Head'
import type { AstroProps } from '../../types/types';

type Props = AstroProps;

const { component, navigation, usage } = Astro.props;
---
<html lang="en">
  <Head component={component} navigation={navigation} usage={usage} />
  <body class="with-sidebar container">
    <div class="sidebar">
      <Sidebar component={component} usage={usage} navigation={navigation} />
    </div>
    <div class="not-sidebar">
      <main>
        <h1>{`${component.name} - <${component.tagName}>`}</h1>
          <slot /> <!-- your content is injected here -->
      </main>
    </div>
  </body>
</html>
